pre { line-height: 125%; }
td.linenos .normal { color: #f1fa8c; background-color: #44475a; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #f1fa8c; background-color: #44475a; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #50fa7b; background-color: #6272a4; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #50fa7b; background-color: #6272a4; padding-left: 5px; padding-right: 5px; }
.hll { background-color: #44475a }
.c { color: #6272a4 } /* Comment */
.err { color: #f8f8f2 } /* Error */
.g { color: #f8f8f2 } /* Generic */
.k { color: #ff79c6 } /* Keyword */
.l { color: #f8f8f2 } /* Literal */
.n { color: #f8f8f2 } /* Name */
.o { color: #ff79c6 } /* Operator */
.x { color: #f8f8f2 } /* Other */
.p { color: #f8f8f2 } /* Punctuation */
.ch { color: #6272a4 } /* Comment.Hashbang */
.cm { color: #6272a4 } /* Comment.Multiline */
.cp { color: #ff79c6 } /* Comment.Preproc */
.cpf { color: #6272a4 } /* Comment.PreprocFile */
.c1 { color: #6272a4 } /* Comment.Single */
.cs { color: #6272a4 } /* Comment.Special */
.gd { color: #8b080b } /* Generic.Deleted */
.ge { color: #f8f8f2; text-decoration: underline } /* Generic.Emph */
.ges { color: #f8f8f2; text-decoration: underline } /* Generic.EmphStrong */
.gr { color: #f8f8f2 } /* Generic.Error */
.gh { color: #f8f8f2; font-weight: bold } /* Generic.Heading */
.gi { color: #f8f8f2; font-weight: bold } /* Generic.Inserted */
.go { color: #44475a } /* Generic.Output */
.gp { color: #f8f8f2 } /* Generic.Prompt */
.gs { color: #f8f8f2 } /* Generic.Strong */
.gu { color: #f8f8f2; font-weight: bold } /* Generic.Subheading */
.gt { color: #f8f8f2 } /* Generic.Traceback */
.kc { color: #ff79c6 } /* Keyword.Constant */
.kd { color: #8be9fd; font-style: italic } /* Keyword.Declaration */
.kn { color: #ff79c6 } /* Keyword.Namespace */
.kp { color: #ff79c6 } /* Keyword.Pseudo */
.kr { color: #ff79c6 } /* Keyword.Reserved */
.kt { color: #8be9fd } /* Keyword.Type */
.ld { color: #f8f8f2 } /* Literal.Date */
.m { color: #ffb86c } /* Literal.Number */
.s { color: #bd93f9 } /* Literal.String */
.na { color: #50fa7b } /* Name.Attribute */
.nb { color: #8be9fd; font-style: italic } /* Name.Builtin */
.nc { color: #50fa7b } /* Name.Class */
.no { color: #f8f8f2 } /* Name.Constant */
.nd { color: #f8f8f2 } /* Name.Decorator */
.ni { color: #f8f8f2 } /* Name.Entity */
.ne { color: #f8f8f2 } /* Name.Exception */
.nf { color: #50fa7b } /* Name.Function */
.nl { color: #8be9fd; font-style: italic } /* Name.Label */
.nn { color: #f8f8f2 } /* Name.Namespace */
.nx { color: #f8f8f2 } /* Name.Other */
.py { color: #f8f8f2 } /* Name.Property */
.nt { color: #ff79c6 } /* Name.Tag */
.nv { color: #8be9fd; font-style: italic } /* Name.Variable */
.ow { color: #ff79c6 } /* Operator.Word */
.pm { color: #f8f8f2 } /* Punctuation.Marker */
.w { color: #f8f8f2 } /* Text.Whitespace */
.mb { color: #ffb86c } /* Literal.Number.Bin */
.mf { color: #ffb86c } /* Literal.Number.Float */
.mh { color: #ffb86c } /* Literal.Number.Hex */
.mi { color: #ffb86c } /* Literal.Number.Integer */
.mo { color: #ffb86c } /* Literal.Number.Oct */
.sa { color: #bd93f9 } /* Literal.String.Affix */
.sb { color: #bd93f9 } /* Literal.String.Backtick */
.sc { color: #bd93f9 } /* Literal.String.Char */
.dl { color: #bd93f9 } /* Literal.String.Delimiter */
.sd { color: #bd93f9 } /* Literal.String.Doc */
.s2 { color: #bd93f9 } /* Literal.String.Double */
.se { color: #bd93f9 } /* Literal.String.Escape */
.sh { color: #bd93f9 } /* Literal.String.Heredoc */
.si { color: #bd93f9 } /* Literal.String.Interpol */
.sx { color: #bd93f9 } /* Literal.String.Other */
.sr { color: #bd93f9 } /* Literal.String.Regex */
.s1 { color: #bd93f9 } /* Literal.String.Single */
.ss { color: #bd93f9 } /* Literal.String.Symbol */
.bp { color: #f8f8f2; font-style: italic } /* Name.Builtin.Pseudo */
.fm { color: #50fa7b } /* Name.Function.Magic */
.vc { color: #8be9fd; font-style: italic } /* Name.Variable.Class */
.vg { color: #8be9fd; font-style: italic } /* Name.Variable.Global */
.vi { color: #8be9fd; font-style: italic } /* Name.Variable.Instance */
.vm { color: #8be9fd; font-style: italic } /* Name.Variable.Magic */
.il { color: #ffb86c } /* Literal.Number.Integer.Long */
pre { line-height: 125%; }
td.linenos .normal { color: #f1fa8c; background-color: #44475a; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #f1fa8c; background-color: #44475a; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #50fa7b; background-color: #6272a4; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #50fa7b; background-color: #6272a4; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #44475a }
.highlight { background: #282a36; color: #f8f8f2 }
.highlight .c { color: #6272a4 } /* Comment */
.highlight .err { color: #f8f8f2 } /* Error */
.highlight .g { color: #f8f8f2 } /* Generic */
.highlight .k { color: #ff79c6 } /* Keyword */
.highlight .l { color: #f8f8f2 } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #ff79c6 } /* Operator */
.highlight .x { color: #f8f8f2 } /* Other */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .ch { color: #6272a4 } /* Comment.Hashbang */
.highlight .cm { color: #6272a4 } /* Comment.Multiline */
.highlight .cp { color: #ff79c6 } /* Comment.Preproc */
.highlight .cpf { color: #6272a4 } /* Comment.PreprocFile */
.highlight .c1 { color: #6272a4 } /* Comment.Single */
.highlight .cs { color: #6272a4 } /* Comment.Special */
.highlight .gd { color: #8b080b } /* Generic.Deleted */
.highlight .ge { color: #f8f8f2; text-decoration: underline } /* Generic.Emph */
.highlight .ges { color: #f8f8f2; text-decoration: underline } /* Generic.EmphStrong */
.highlight .gr { color: #f8f8f2 } /* Generic.Error */
.highlight .gh { color: #f8f8f2; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #f8f8f2; font-weight: bold } /* Generic.Inserted */
.highlight .go { color: #44475a } /* Generic.Output */
.highlight .gp { color: #f8f8f2 } /* Generic.Prompt */
.highlight .gs { color: #f8f8f2 } /* Generic.Strong */
.highlight .gu { color: #f8f8f2; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #f8f8f2 } /* Generic.Traceback */
.highlight .kc { color: #ff79c6 } /* Keyword.Constant */
.highlight .kd { color: #8be9fd; font-style: italic } /* Keyword.Declaration */
.highlight .kn { color: #ff79c6 } /* Keyword.Namespace */
.highlight .kp { color: #ff79c6 } /* Keyword.Pseudo */
.highlight .kr { color: #ff79c6 } /* Keyword.Reserved */
.highlight .kt { color: #8be9fd } /* Keyword.Type */
.highlight .ld { color: #f8f8f2 } /* Literal.Date */
.highlight .m { color: #ffb86c } /* Literal.Number */
.highlight .s { color: #bd93f9 } /* Literal.String */
.highlight .na { color: #50fa7b } /* Name.Attribute */
.highlight .nb { color: #8be9fd; font-style: italic } /* Name.Builtin */
.highlight .nc { color: #50fa7b } /* Name.Class */
.highlight .no { color: #f8f8f2 } /* Name.Constant */
.highlight .nd { color: #f8f8f2 } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #f8f8f2 } /* Name.Exception */
.highlight .nf { color: #50fa7b } /* Name.Function */
.highlight .nl { color: #8be9fd; font-style: italic } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #f8f8f2 } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #ff79c6 } /* Name.Tag */
.highlight .nv { color: #8be9fd; font-style: italic } /* Name.Variable */
.highlight .ow { color: #ff79c6 } /* Operator.Word */
.highlight .pm { color: #f8f8f2 } /* Punctuation.Marker */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mb { color: #ffb86c } /* Literal.Number.Bin */
.highlight .mf { color: #ffb86c } /* Literal.Number.Float */
.highlight .mh { color: #ffb86c } /* Literal.Number.Hex */
.highlight .mi { color: #ffb86c } /* Literal.Number.Integer */
.highlight .mo { color: #ffb86c } /* Literal.Number.Oct */
.highlight .sa { color: #bd93f9 } /* Literal.String.Affix */
.highlight .sb { color: #bd93f9 } /* Literal.String.Backtick */
.highlight .sc { color: #bd93f9 } /* Literal.String.Char */
.highlight .dl { color: #bd93f9 } /* Literal.String.Delimiter */
.highlight .sd { color: #bd93f9 } /* Literal.String.Doc */
.highlight .s2 { color: #bd93f9 } /* Literal.String.Double */
.highlight .se { color: #bd93f9 } /* Literal.String.Escape */
.highlight .sh { color: #bd93f9 } /* Literal.String.Heredoc */
.highlight .si { color: #bd93f9 } /* Literal.String.Interpol */
.highlight .sx { color: #bd93f9 } /* Literal.String.Other */
.highlight .sr { color: #bd93f9 } /* Literal.String.Regex */
.highlight .s1 { color: #bd93f9 } /* Literal.String.Single */
.highlight .ss { color: #bd93f9 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2; font-style: italic } /* Name.Builtin.Pseudo */
.highlight .fm { color: #50fa7b } /* Name.Function.Magic */
.highlight .vc { color: #8be9fd; font-style: italic } /* Name.Variable.Class */
.highlight .vg { color: #8be9fd; font-style: italic } /* Name.Variable.Global */
.highlight .vi { color: #8be9fd; font-style: italic } /* Name.Variable.Instance */
.highlight .vm { color: #8be9fd; font-style: italic } /* Name.Variable.Magic */
.highlight .il { color: #ffb86c } /* Literal.Number.Integer.Long */
pre { line-height: 125%; }
td.linenos .normal { color: #f1fa8c; background-color: #44475a; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #f1fa8c; background-color: #44475a; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #50fa7b; background-color: #6272a4; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #50fa7b; background-color: #6272a4; padding-left: 5px; padding-right: 5px; }
.highlighttable .hll { background-color: #44475a }
.highlighttable { background: #282a36; color: #f8f8f2 }
.highlighttable .c { color: #6272a4 } /* Comment */
.highlighttable .err { color: #f8f8f2 } /* Error */
.highlighttable .g { color: #f8f8f2 } /* Generic */
.highlighttable .k { color: #ff79c6 } /* Keyword */
.highlighttable .l { color: #f8f8f2 } /* Literal */
.highlighttable .n { color: #f8f8f2 } /* Name */
.highlighttable .o { color: #ff79c6 } /* Operator */
.highlighttable .x { color: #f8f8f2 } /* Other */
.highlighttable .p { color: #f8f8f2 } /* Punctuation */
.highlighttable .ch { color: #6272a4 } /* Comment.Hashbang */
.highlighttable .cm { color: #6272a4 } /* Comment.Multiline */
.highlighttable .cp { color: #ff79c6 } /* Comment.Preproc */
.highlighttable .cpf { color: #6272a4 } /* Comment.PreprocFile */
.highlighttable .c1 { color: #6272a4 } /* Comment.Single */
.highlighttable .cs { color: #6272a4 } /* Comment.Special */
.highlighttable .gd { color: #8b080b } /* Generic.Deleted */
.highlighttable .ge { color: #f8f8f2; text-decoration: underline } /* Generic.Emph */
.highlighttable .ges { color: #f8f8f2; text-decoration: underline } /* Generic.EmphStrong */
.highlighttable .gr { color: #f8f8f2 } /* Generic.Error */
.highlighttable .gh { color: #f8f8f2; font-weight: bold } /* Generic.Heading */
.highlighttable .gi { color: #f8f8f2; font-weight: bold } /* Generic.Inserted */
.highlighttable .go { color: #44475a } /* Generic.Output */
.highlighttable .gp { color: #f8f8f2 } /* Generic.Prompt */
.highlighttable .gs { color: #f8f8f2 } /* Generic.Strong */
.highlighttable .gu { color: #f8f8f2; font-weight: bold } /* Generic.Subheading */
.highlighttable .gt { color: #f8f8f2 } /* Generic.Traceback */
.highlighttable .kc { color: #ff79c6 } /* Keyword.Constant */
.highlighttable .kd { color: #8be9fd; font-style: italic } /* Keyword.Declaration */
.highlighttable .kn { color: #ff79c6 } /* Keyword.Namespace */
.highlighttable .kp { color: #ff79c6 } /* Keyword.Pseudo */
.highlighttable .kr { color: #ff79c6 } /* Keyword.Reserved */
.highlighttable .kt { color: #8be9fd } /* Keyword.Type */
.highlighttable .ld { color: #f8f8f2 } /* Literal.Date */
.highlighttable .m { color: #ffb86c } /* Literal.Number */
.highlighttable .s { color: #bd93f9 } /* Literal.String */
.highlighttable .na { color: #50fa7b } /* Name.Attribute */
.highlighttable .nb { color: #8be9fd; font-style: italic } /* Name.Builtin */
.highlighttable .nc { color: #50fa7b } /* Name.Class */
.highlighttable .no { color: #f8f8f2 } /* Name.Constant */
.highlighttable .nd { color: #f8f8f2 } /* Name.Decorator */
.highlighttable .ni { color: #f8f8f2 } /* Name.Entity */
.highlighttable .ne { color: #f8f8f2 } /* Name.Exception */
.highlighttable .nf { color: #50fa7b } /* Name.Function */
.highlighttable .nl { color: #8be9fd; font-style: italic } /* Name.Label */
.highlighttable .nn { color: #f8f8f2 } /* Name.Namespace */
.highlighttable .nx { color: #f8f8f2 } /* Name.Other */
.highlighttable .py { color: #f8f8f2 } /* Name.Property */
.highlighttable .nt { color: #ff79c6 } /* Name.Tag */
.highlighttable .nv { color: #8be9fd; font-style: italic } /* Name.Variable */
.highlighttable .ow { color: #ff79c6 } /* Operator.Word */
.highlighttable .pm { color: #f8f8f2 } /* Punctuation.Marker */
.highlighttable .w { color: #f8f8f2 } /* Text.Whitespace */
.highlighttable .mb { color: #ffb86c } /* Literal.Number.Bin */
.highlighttable .mf { color: #ffb86c } /* Literal.Number.Float */
.highlighttable .mh { color: #ffb86c } /* Literal.Number.Hex */
.highlighttable .mi { color: #ffb86c } /* Literal.Number.Integer */
.highlighttable .mo { color: #ffb86c } /* Literal.Number.Oct */
.highlighttable .sa { color: #bd93f9 } /* Literal.String.Affix */
.highlighttable .sb { color: #bd93f9 } /* Literal.String.Backtick */
.highlighttable .sc { color: #bd93f9 } /* Literal.String.Char */
.highlighttable .dl { color: #bd93f9 } /* Literal.String.Delimiter */
.highlighttable .sd { color: #bd93f9 } /* Literal.String.Doc */
.highlighttable .s2 { color: #bd93f9 } /* Literal.String.Double */
.highlighttable .se { color: #bd93f9 } /* Literal.String.Escape */
.highlighttable .sh { color: #bd93f9 } /* Literal.String.Heredoc */
.highlighttable .si { color: #bd93f9 } /* Literal.String.Interpol */
.highlighttable .sx { color: #bd93f9 } /* Literal.String.Other */
.highlighttable .sr { color: #bd93f9 } /* Literal.String.Regex */
.highlighttable .s1 { color: #bd93f9 } /* Literal.String.Single */
.highlighttable .ss { color: #bd93f9 } /* Literal.String.Symbol */
.highlighttable .bp { color: #f8f8f2; font-style: italic } /* Name.Builtin.Pseudo */
.highlighttable .fm { color: #50fa7b } /* Name.Function.Magic */
.highlighttable .vc { color: #8be9fd; font-style: italic } /* Name.Variable.Class */
.highlighttable .vg { color: #8be9fd; font-style: italic } /* Name.Variable.Global */
.highlighttable .vi { color: #8be9fd; font-style: italic } /* Name.Variable.Instance */
.highlighttable .vm { color: #8be9fd; font-style: italic } /* Name.Variable.Magic */
.highlighttable .il { color: #ffb86c } /* Literal.Number.Integer.Long */
